.Page_Content_Right{
    background: #fff;
    float:left;
    width:100%;
    padding: 10px;
    -webkit-border-radius:6px; 
}
.Height_PageContent{
    height:530px;
}
.form-control:focus{
    box-shadow:none !important;
}
.Save_Btn{
    background: #b92d25;
    border: 1px solid #b92d25;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    -webkit-border-radius:3px !important;
    padding:3px 10px;
}
.Save_Btn:focus{
 box-shadow: none;
}
.Save_Btn:hover{
 background:#222;
 border: 1px solid #222;
}
.fancybox-close{
    position: absolute;
    right: -2%;
    top: -2%;
    background: #b92d25;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    padding: 0;
    -webkit-box-shadow: 0px 3px 4px #aaa;
    box-shadow: 0px 3px 4px #aaa;
    cursor: pointer;
    span{
        vertical-align: text-top;
    }
}
.modal{
    z-index: 99991;
}
.overlay{
    background: #000;
    opacity: 0.5;
    width: 100%;
    top: -35px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
}
.MakeCalls_Grid_outer {
    .card {
        border:none;
        .card-body {
            padding: 0;
            data-table{  
                .data-table{
                -webkit-box-shadow:none; 
                box-shadow: none;
                }
                
                .table {
                    thead {
                        tr {
                            th {
                                border-top: 0 !important;
                                font-size: 14px;
                                font-weight: 600;
                                text-transform: uppercase;
                            }
                            .index-column-header{
                                width:60px;
                            }
                        }
                    }
                }
                .p-0 {
                    padding: 0 0 11px 0!important;
                }
                data-table-title{
                    position: absolute;
                    top: -48px;
                    right: 2px;
                 }
                 .data-table-box{
                     height:390px;
                 }
                 data-table-pagination{
                    position: absolute;
                    bottom: -18%;
                    width: 100%;
                 }
                 .column-selector-wrapper{
                    .column-selector-box{
                        width:312px;
                    }
                 }
             }
             
        }
    }
    .call_btn{
        padding:5px 20px;
        color:#fff;
        font-size: 16px;
        background: #00b0f0;
        border:none;
        text-align: center;
        -webkit-border-radius:4px;
    }
    
}
.AddNotesPopup_Width{ 
  max-width:650px;
label{
 margin-bottom:0;
}
.form-group{
    margin-bottom:10px;
}
.AddNotesPopup_table {
    width: 100%;
    display:block;
}
.AddNotesPopup_table thead {
    display: inline-block;
    width: 100%;
    height: 32px;
}
.AddNotesPopup_table thead th{
    width:200px;
    border-top:none;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
}
.AddNotesPopup_table tbody {
    height: 145px;
    display: inline-block;
    width: 100%;
    overflow: auto;
}
.AddNotesPopup_table thead tr, .AddNotesPopup_table tbody tr{
    float: left;
    width:100%;
}
.AddNotesPopup_table tbody td{
    width:34%;
}
}
