.Page_Content_Right{
    background: #fff;
    float:left;
    width:100%;
    padding: 10px;
    -webkit-border-radius:6px;
}
.Save_Btn{
    background: #b92d25;
    border: 1px solid #b92d25;
    font-size: 15px;
    font-weight: 500;
}
.Save_Btn:focus{
 box-shadow: none;
 -webkit-box-shadow:none;
}
.btn-primary:not([disabled]):not(.disabled):active:focus{
    box-shadow: none;
    -webkit-box-shadow:none;  
}
.Save_Btn:hover{
 background:#222;
 border: 1px solid #222;
}
.left_margin_btn {
    margin-left: 10px;
}
.MakeCalls_Grid_outer {
    .card {
        border:none;
        .card-body {
            padding: 0;
                .table {
                    thead {
                        tr {
                            th {
                                border-top: 0 !important;
                                font-size: 14px;
                                font-weight: 600;
                                text-transform: uppercase;
                            }
                        }
                    }
                    tbody{
                        tr{
                            td{
                                padding: 5px 8px;
                                vertical-align: middle;
                                .form-control:focus{
                                    box-shadow:none !important;
                                }
                            }
                        }
                    }
                } 

        }
    }
    .call_btn{
        padding:5px 20px;
        color:#fff;
        font-size: 16px;
        background: #00b0f0;
        border:none;
        text-align: center;
        -webkit-border-radius:4px;
    }
}