<nav class="sidebar">
        <div class="list-group">
            <a  class="list-group-item" routerLink="/makecalls" [routerLinkActive]="['router-link-active']">
                <i class="fa fa-fw fa-phone"></i> Make Calls
            </a>
            <a  class="list-group-item"  routerLink="/mainscreen" [routerLinkActive]="['router-link-active']">
                <i class="fa fa-fw fa-home"></i> Main Screen
            </a>
            <a class="list-group-item" routerLink="/assigncontrols">
                <i class="fa fa-fw fa-table"></i> Assign Controls
            </a> 
            <a class="list-group-item" routerLink="/uploadleads">
                <i class="fa fa-fw fa-upload"></i> Upload Leads
            </a> 
            <a class="list-group-item" routerLink="/dashboard">
                <i class="fa fa-fw fa-upload"></i> Dashboard
            </a> 
            <!-- <a class="list-group-item">
                <i class="fa fa-file-o"></i> List 1
            </a>
            <div class="header-fields">
                <a class="list-group-item">
                    <span><i class="fa fa-arrows-h"></i> List 1</span>
                </a>
                <div class="nested-menu">
                    <a class="list-group-item">
                        <span><i class="fa fa-language"></i> List 1 <b class="caret"></b></span>
                    </a>
                    <li class="nested">
                        <ul class="submenu">
                            <li>
                                <a href="javascript:void(0)">
                                    List 1
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    List 1
                                </a>
                            </li>
                        </ul>
                    </li>
                </div>
              
            </div> -->
        </div> 
    </nav>