<div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <h2 class="page-header">
                My dashboard
            </h2>
        </div>
    </div>

    <div class="Bottom_Margin">
        <div class="row">
            <div class="col-sm-3 col-xl-3 col-lg-6 Tiles_bottom_margin">
                <div class="card text-white bg-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <div class="col col-xs-9 text-right">
                                <div class="d-block huge">20</div>
                                <div class="d-block">User Registered!</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="float-left">View Details {{data}}</span>
                        <a href="javascript:void(0)" class="float-right card-inverse">
                            <span>
                                <i class="fa fa-arrow-circle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xl-3 col-lg-6 Tiles_bottom_margin">
                <div class="card text-white bg-warning">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i class="fa fa-money fa-5x"></i>
                            </div>
                            <div class="col col-xs-9 text-right">
                                <div class="d-block huge">12</div>
                                <div class="d-block">New Expenses!</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="float-left">View Details {{data}}</span>
                        <a href="javascript:void(0)" class="float-right card-inverse">
                            <span>
                                <i class="fa fa-arrow-circle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xl-3 col-lg-6">
                <div class="card text-white bg-success">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col col-xs-9 text-right">
                                <div class="d-block huge">124</div>
                                <div class="d-block">New orders!</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="float-left">View Details {{data}}</span>
                        <a href="javascript:void(0)" class="float-right card-inverse">
                            <span>
                                <i class="fa fa-arrow-circle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xl-3 col-lg-6">
                <div class="card text-white bg-danger">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i class="fa fa-laptop fa-5x"></i>
                            </div>
                            <div class="col col-xs-9 text-right">
                                <div class="d-block huge">13</div>
                                <div class="d-block">Online Revenue!</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="float-left">View Details {{data}}</span>
                        <a href="javascript:void(0)" class="float-right card-inverse">
                            <span>
                                <i class="fa fa-arrow-circle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-lg-4 border_right_widget">
                <div class="widget_1">
                    <div class="widget1_item">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="widget1_title">Member Profit</h3>
                                <span class="widget1_desc">Awerage Weekly Profit</span>
                            </div>
                            <div class="col text-right">
                                <span class="widget1_number font-brand">+$17,800</span>
                            </div>
                        </div>
                    </div>
                    <div class="widget1_item">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="widget1_title">Orders</h3>
                                <span class="widget1_desc">Weekly Customer Orders</span>
                            </div>
                            <div class="col text-right">
                                <span class="widget1_number font-danger">+1,800</span>
                            </div>
                        </div>
                    </div>
                    <div class="widget1_item">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="widget1_title">Issue Reports</h3>
                                <span class="widget1_desc">System Bugs and Issues</span>
                            </div>
                            <div class="col text-right">
                                <span class="widget1_number font-success">-27,49%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 border_right_widget">
                <div class="widget_1">
                    <div class="widget1_item">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="widget1_title">Member Profit</h3>
                                <span class="widget1_desc">Awerage Weekly Profit</span>
                            </div>
                            <div class="col text-right">
                                <span class="widget1_number font-brand">+$17,800</span>
                            </div>
                        </div>
                    </div>
                    <div class="widget1_item">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="widget1_title">Orders</h3>
                                <span class="widget1_desc">Weekly Customer Orders</span>
                            </div>
                            <div class="col text-right">
                                <span class="widget1_number font-danger">+1,800</span>
                            </div>
                        </div>
                    </div>
                    <div class="widget1_item">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="widget1_title">Issue Reports</h3>
                                <span class="widget1_desc">System Bugs and Issues</span>
                            </div>
                            <div class="col text-right">
                                <span class="widget1_number font-success">-27,49%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 border_right_widget">
                <div class="widget_1">
                    <div class="widget1_item">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="widget1_title">Member Profit</h3>
                                <span class="widget1_desc">Awerage Weekly Profit</span>
                            </div>
                            <div class="col text-right">
                                <span class="widget1_number font-brand">+$17,800</span>
                            </div>
                        </div>
                    </div>
                    <div class="widget1_item">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="widget1_title">Orders</h3>
                                <span class="widget1_desc">Weekly Customer Orders</span>
                            </div>
                            <div class="col text-right">
                                <span class="widget1_number font-danger">+1,800</span>
                            </div>
                        </div>
                    </div>
                    <div class="widget1_item">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="widget1_title">Issue Reports</h3>
                                <span class="widget1_desc">System Bugs and Issues</span>
                            </div>
                            <div class="col text-right">
                                <span class="widget1_number font-success">-27,49%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>